<!doctype html>
<html lang="en">

<head>
    <title>English Assistant</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-favicon.png" rel="apple-touch-icon">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{#if homepage}}
    {{>sidebar}}
    {{#if user}}
    <div id="mainContent" style="margin-left: 250px; transition: margin-left 0.3s;">
        <header>
            <nav class="navbar px-4 py-4">
                <!-- Toggle Button -->
                <button id="toggleSidebarBtn" class="btn position-fixed">
                    <i class="bi bi-layout-text-sidebar h3 text-black-50"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <h4 class="ms-4"><i class="bi bi-translate mx-3"></i>English Learning Assistant</h4>
                </a>
            </nav>
        </header>
        {{{body}}}
    </div>
    {{else}}
    <div id="mainContent">
        <header>
            <nav class="navbar px-4 py-4">
                <a class="navbar-brand" href="/">
                    <h4 class="ms-4"><i class="bi bi-translate mx-3"></i>English Learning Assistant</h4>
                </a>
                <div class="ms-auto" id="link-login">
                    <button class="btn btn-secondary px-3 me-2 rounded-5"
                        onclick="location.href = '/login'">Login</button>
                    <button class="btn btn-primary px-3 me-4 rounded-5" onclick="location.href = '/signup'">Sign
                        Up</button>
                </div>
            </nav>
        </header>
        {{{body}}}
    </div>
    {{/if}}
    {{else}}
    {{#unless message}}
    <header>
        <nav class="navbar px-4 py-4">
            <a class="navbar-brand" href="/">
                <h4 class="ms-4"><i class="bi bi-translate mx-3"></i>English Learning Assistant</h4>
            </a>
        </nav>
    </header>
    {{/unless}}
    {{{body}}}
    {{/if}}
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="/js/speech-to-text.js"></script>
    <script src="/js/text-to-speech.js"></script>
    <script src="/js/translate.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/sidebar.js"></script>

</body>

</html>